---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="notfound">
    <h2>404 Page Not Found</h2>
    <a href="/">Go back to homepage</a>
  </div>
</Layout>

<style>
  .notfound {
    padding: 20px;
  }
</style>
