.about {
    padding: 20px;
}

.about p {
    color: grey;
}

.about code a {
    color: grey;
    font-size: 1.1em;
    text-decoration: none;
}

.about a {
    color: grey;
    text-decoration: none;
}
